#WindRiver Project Files
*.wrproject


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# PPCdiab everything
PPC32diab\*

# Everything thaty ends in ~
*~

#Exclude PPC603 and PPC32 directories

PPC603gnu/
PPC603/
PPC32/
